*DS_Store
notes_irk.pdf
other_ideas.pdf
implementation_notes/nonlinear/nonlin_implementation.pdf
implementation_notes/linear/lin_implementation.pdf
irk_DAE.pdf
analysis_notes/fov.pdf
mg_irk.pdf

*.m~
*.synctex*
*.log
*.aux
*.out
*.bbl
*.blg
*.thm
*.fls
*latexmk

*.dSYM
*.o
driver
driver_adv_dif_FD
irk_lin.pdf
code/FDadv_dif/convergence/tex/results.pdf
code/FD_utils/**/*.pdf
code/FD_utils/**/__pycache__/
ODEs_linear/figures/ParaviewFiles
analysis/fov.pdf
irk_nl.pdf
ODEs_linear/irk_lin.pdf
.vscode

vorticity-streamfunction
