*DS_Store
notes_irk.pdf
other_ideas.pdf
implementation.pdf
irk_DAE.pdf

*.m~
*.synctex*
*.log
*.aux
*.out
*.bbl
*.blg
*.thm
*.fls
*latexmk

*.dSYM
*.o
driver
implementation.pdf
irk_lin.pdf
code/FDadv_dif/convergence/tex/results.pdf
ODEs_linear/figures/ParaviewFiles
analysis/fov.pdf
irk_nl.pdf
ODEs_linear/irk_lin.pdf
