*DS_Store
notes_irk.pdf
other_ideas.pdf
implementation.pdf
irk_DAE.pdf

*.m~
*.synctex*
*.log
*.aux
*.out
*.bbl
*.blg
*.thm
*.fls
*latexmk

*.dSYM
*.o
driver
implementation.pdf
irk.pdf
code/FDadv_dif/convergence/tex/results.pdf
code/FD_utils/**/*.pdf
code/FD_utils/**/__pycache__/
ODEs_paper/figures/ParaviewFiles

